*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: orange;
    text-align: center;
    line-height: 2.0;
}

.hero img{
    border-radius: 50%;
}

.accent{
    color:rgb(255, 1, 145);
}


@media screen (max-width: 768px){
    body{background-color: blue}
}

.grid{
    display: flex;
    justify-content: center;
   /* justifly-content: space-around */
   gap: 15px;
flex-wrap:wrap;
}

.grid div{
    background-color: purple;
    border-radius: 100px;
    padding: 8px;
    min-width: 80px;
    
}
