*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: brightorange;
    text-align: center;
    line-height: 2.0;
}

.hero img{
    border-radius: 50%;
}

.accent{
    color:whitesmoke;
}
